<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apit.task">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.NewTaskDetails"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".view.NewTaskHeads"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".view.NewTaskActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.TasksActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.TaskActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.FailureFixingReportActivity" />
        <activity android:name=".view.DailyReportForHajServicesFollowingArafatActivity" />
        <activity android:name=".view.DailyReportForHajServicesFollowingMnaActivity" />
        <activity android:name=".view.CampPreparationArafatActivity" />
        <activity android:name=".view.CampPreparationMnaActivity" />
        <activity android:name=".view.DailyDetection02_03Activity" />
        <activity android:name=".view.Edit03_03Activity" />
        <activity android:name=".view.JamaratRegimentActivity" />
        <activity android:name=".view.CampInventoryActivity" />
        <activity android:name=".view.Form01_03Activity" />
        <activity android:name=".view.ActionFilePreviewActivity" />
    </application>

</manifest>